<!DOCTYPE html>
<html lang="fr" id="{{ page.url | remove: 'index.html' | remove: '.html' | remove: '.md' | remove: '/' }}">

{% include head.html %}

<body id="page-top">

    <!-- Menu Start -->
    {% include menu.html %}
    <!-- Menu End -->


    {{ content }}



    <!-- Footer Start
      {% include footer.html %}
    Footer End -->

    
<!-- Copyright Start -->
<div class="container-fluid bg-dark text-body copyright py-4">
  <div class="container">
      <div class="row">
          <div class="col-md-3 text-center text-md-start mb-3 mb-md-0">
              &copy; <a class="fw-semi-bold" href="#">Le bois de la grenouille</a>, Tous droits reservés.
          </div>
          <div class="col-md-6 d-flex justify-content-evenly text-center text-md-start mb-3 mb-md-0">
            <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/mentions-legales">Mentions légales</a>
            <a href="https://jasonlambertmars.github.io/leboisdelagrenouille/conditions-generales-de-ventes">Conditions générales de ventes</a>
            </div>
          <div class="col-md-3 text-center text-md-end">
              <!--/*** This template is free as long as you keep the footer author’s credit link/attribution link/backlink. If you'd like to use the template without the footer author’s credit link/attribution link/backlink, you can purchase the Credit Removal License from "https://htmlcodex.com/credit-removal". Thank you for your support. ***/-->
              Site développé <a class="fw-semi-bold" href="https://htmlcodex.com">par J.L</a>
          </div>
      </div>
  </div>
</div>
<!-- Copyright End -->

</body>

</html>